html {
  scroll-behavior: smooth;
}
.heading {
  color: red;
}

.paris-paragraph {
  background-color: beige;
}

#london-heading {
  background-color: pink;
}

span {
  padding: 0 5px;
  border-top: 2px black solid;
  border-bottom: 4px gray solid;
  /* padding-left: 5px;
  padding-right: 5px; */
  /* padding: 0 5px 0 5px; */
  /* padding: 0 5px 0 ; */
}
.para-with-span {
  margin: 5px;
  border: ridge 10px lightgreen;
}

body {
  font-family: "Courier New", Courier, monospace;
}

h1,
h2 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

article{
  font-family: 'Times New Roman', Times, serif;
  background-color: aquamarine;
}